body{
    
    font-family: 'Bree Serif', serif;
}
section{
    background-image: radial-gradient(circle, darkgrey, white);
    border: solid red 2px;
}
.name{
    padding-left: 100px;
    padding-top: 30px;
    color: crimson;

}
.options{
    padding-right: 80px;
    padding-top: 10px;
}
.hero{
    background-image: radial-gradient(circle, darkgrey, black);
    height: 100vh;
    color: white;
    font-size: 40px;
}
footer{
    padding: 60px;
    background-image: radial-gradient(circle, darkgrey, black);
    color:white;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
}


ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}
ul.show{
    display: block;
}
li{
   text-decoration: none;
}
h1{
    font-size: 90px;
    margin: 0;
}
h2{
    font-size: 50px;
}
p{
    margin: 0;
    font-size: 35px;
    font-weight: 300;
}
.subtext{
    font-size: 15px;
    font-weight: 300;
    padding: 10px;

}
.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;    
}

.hero-text{
    margin-left: 100px;
    margin-bottom: 200px;
}
.button{
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: crimson;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}
.button:hover{
    background-color: green;
}
.button:active{
    background-color: lawngreen;
    color: white;
}
.socials{
    padding-bottom: 200px;
    padding-right: 80px;
}
.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
.sub-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}
.headshot{
    width: 300px;
    border-radius: 150px;
    margin-right: 100px;
   

}
.information{
    margin-left: 100px;
}

.headshot-container{
    display: flex;
    align-items: center;
    
}
.project-card{
    width: 350px;
    height: 500px;
    box-shadow: 5px 5px 20px;
    margin: 10px;
}
.project-container{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px){
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
}
.project-image{
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}
hr{
    margin-left: 20px;
    margin-right: 20px;
}
.project-link{
    text-decoration: none;
    color: crimson;
}
a{
    text-decoration: none;
    color: white;
}
.hamburger{
    display: none;
}
.hamburger:focus{
    outline: 0;
}
@media only screen and (max-width: 1000px){
.hamburger{
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;

    }
    ul{
        display: none;
        background-color: crimson;
        margin: 0px;

    }
    ul.show{
        display: block;
    }
    nav {
        display:flex;
        flex-direction: column-reverse;
        background-color: crimson;

    }
    .logo {
        display: none;
        
    }
    
}

.twitter-image{
    background-color: white;
    width: 100px;
    border-radius: 150px;
    margin-right: 200px;
    
    
}
.twitter-image:hover{
    background-color: rgba(19, 154, 245, 0.945);
}
.linkedIn-image{
    background-color: white;
    width: 100px;
    border-radius: 150px;
    margin-right: 200px;
}
.linkedIn-image:hover{
    background-color: blue;

}
.github-image{
    background-color: white;
    width: 100px;
    border-radius: 150px;
    margin-right: 200px;
}
.github-image:hover{
    background-color: darkgrey;

}
.youtube-image:hover{
    background-color: crimson;
}
.youtube-image{
    background-color: white;
    width: 100px;
    border-radius: 150px;
    margin-right: 200px;
}

.signature{
    text-align: right;
}
.email{
    margin: 8px 0;
    height: 30px;
  
}
.button2{
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
